<!DOCTYPE html>
<html lang="en">

<head>
    <title>BLOOMS</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <div id='app'>
        <div id='main'>
            <div class="form-group row">
                <!-- <label for="saying" class="col-2 col-form-label">Saying</label> -->
                <div class="">
                    <form method="GET" action="/saying/">
                        <input name="saying" class="form-control" type="text" value="The orb repeats."/>
                    </form>
                </div>
                <div class="col-sm-2 col-sm-10">
                    <button type="submit" class="bloomSubmit">Bloom</button>
                </div>
            </div>
            <!-- automate populating rows -->
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb '>
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div>
            <hr>
<!--             <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div>
            <hr>
            <div class='row'>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div class='orb'>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div id='footer'>
        <div class='row'>
            <div class='col-sm-2'>
                <div>
                    <ul class='plus'></ul>
                </div>
            </div>
            <div class='col-sm-8'>
                <p class='banner'>BLOOMS</p>
            </div>
            <div class='col-sm-2'>
                <div>
                    <button class='stop'>STOP</button>
                </div>
            </div>
            <div class="col-sm-2">
                <input name="saying" class="speedInput" type="text" placeholder="How fast? (0 - 10)"/>
                <input name="saying" class="lengthInput" type="text" placeholder="How long? (0 - 100)"/>
            </div>
            <div class="col-sm-2">
                <button class="speedBtn">SET</button>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="/js/scales.js"></script>
    <script src="/js/arps.js"></script>
    <script src="/js/blooms.js"></script>
</body>

</html>
